@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Hoàn tất đăng nhập @Model.ProviderDisplayName</h2>
<hr />

<p id="external-login-description" class="text-info">
    Bạn đã được xác thực ủy quyền thành công bởi <strong>@Model.ProviderDisplayName</strong>.
    Vui lòng điền tên của bạn để hoàn tất đăng ký
</p>

<div class="row">
    <div class="col-md-4" style="margin-top:50px">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Đăng kí thành công"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" style="height:60px;margin-bottom: 30px" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đăng Ký</button>
        </form>
    </div>
</div>
<div>
    <img src="https://th.bing.com/th/id/R.78a30a3fd19111653bbf575797e06827?rik=JjNKpO%2b%2bjjOmmA&pid=ImgRaw&r=0" style="margin-left:600px;margin-top:-250px;height:500px;width:400px"
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
